<!DOCTYPE html>
<html>
<head>
    <title>Trippy - @ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>

    <div id="sidebar">
        <img src="img/default_avatar_large.png" class="headshot" />
        <span id="username">samhastings</span>
        <ul class="menu">
            <li class="active"> <a href="#">Home</a></li>
            <li> <a href="#">About</a></li>
            <li> <a href="#">Contact</a></li>
        </ul>
    </div>
    <div id="container">
        <div id="main">
            <div>
                <button id="toggleSidebar">Hide Sidebar</button>
            </div>
            @RenderBody()
        </div>
    </div>
    <div id="footer">
        &copy; 2017 Trippy Inc.
    </div>

    <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="js/site.js"></script>

</body>
</html>
