@model trippy.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Login</h2>
        <br />
        <form method="post" novalidate>

            <span asp-validation-summary="ValidationSummary.ModelOnly"></span>

            @if (ViewBag.loginError != "")
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span>
                        <strong>Error:</strong><p>@ViewBag.loginError</p>
                    </span>
                </div>
            }

            <div class="form-group">
                <label asp-for="LoginUsername">Username</label>
                <input asp-for="LoginUsername" class="form-control" placeholder="Enter Username" />
                <span asp-validation-for="LoginUsername" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="LoginPassword">Password</label>
                <input type="password" asp-for="LoginPassword" class="form-control" placeholder="Enter Password" />
                <span asp-validation-for="LoginPassword" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success" />
            </div>
        </form>
        <br />
        <div>
            <p>Don't have an account? <a asp-controller="Account" asp-action="SignUp">Sign Up!</a></p>
        </div>
    </div>
</div>