
<div>
    <div>
        <a href="#/" class="btn btn-default btn-sm"><i class="fa fa-angle-left"></i> Back</a>
    </div>

    <div class="col-md-4">
        <h3>{{vm.tripName}}</h3>

        <wait-cursor ng-show="vm.isBusy"></wait-cursor>

        <div class="alert alert-dismissible alert-success" ng-show="vm.errorMessage">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success! </strong>
            {{vm.successMessage}}
        </div>

        <form novalidate name="newStopForm" ng-submit="vm.addStop()">

            <div class="form-group">
                <label for="arrival">Date</label>
                <input class="form-control" 
                       ng-model="vm.newStop.arrival" 
                       id="arrival"
                       name="arrival" 
                       type="date"
                       placeholder="mm/dd/yyyy"
                       required/>
                <span ng-show="newStopForm.arrival.$error.required" 
                      class="text-warning">Arrival date is required
                </span>

            </div>
            <div class="form-group">
                <label for="name">Location</label>
                <input class="form-control" 
                       ng-model="vm.newStop.name" 
                       ng-minlength="5"
                       id="name"
                       name="name" 
                       placeholder="Miami, FL"
                       required/>
                <span ng-show="newStopForm.name.$error.required" class="text-warning">
                    Location name is required
                </span>
                <span ng-show="newStopForm.name.$error.minlength" class="text-warning">
                    Location name must be at least 5 characters
                </span>
            </div>
            <div>
                <input type="submit" 
                       value="Add" 
                       class="btn btn-success" 
                       ng-disabled="newStopForm.$invalid"/>
            </div>
        </form>
        <br /><br />

        <div class="alert alert-dismissible alert-danger" ng-show="vm.errorMessage">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error! </strong>
            {{vm.errorMessage}}
        </div>

        <table class="table table-responsive table-striped table-hover table-bordered">
            <tr>
                <th>Location</th>
                <th>Arrival</th>
            </tr>
            <tr ng-repeat="stop in vm.stops">
                <td>{{stop.name}}</td>
                <td>{{stop.arrival | date}}</td>
            </tr>
        </table>


    </div>

    <div class="col-md-8">
        <h3>The Map</h3>
        <div id="map"></div>
    </div>
</div>