@model IEnumerable<trippy.Models.Trip>

@{ 
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div id="welcome" class="col-md-6 col-md-offset-3">
        <h1>Welcome to Trippy!</h1>
        <p>This simple app will help you plan trips all around the world. </p>
        <a asp-controller="App" asp-action="Trips" class="btn btn-success btn-lg">
            Let's Go
        </a>
    </div>
</div>
