
@model trippy.ViewModels.SignUpViewModel

@{ 
    ViewBag.Title = "Home Page";
}


<div class="row">
  
    <div class="col-md-5" id="landing-page">
        <h2>Let's go on a journey!</h2>
        <form method="post" novalidate>

            <span asp-validation-summary="ValidationSummary.ModelOnly"></span>

            <div class="form-group">
                <label asp-for="Email">Email Address</label>
                <input asp-for="Email" class="form-control" placeholder="user@email.com"/>
                <span asp-validation-for="Email" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input type="password" asp-for="Password" class="form-control" placeholder="Super Secret"/>
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create an Account" class="btn btn-success" />
            </div>

        </form>
    </div>
</div>
