
@model trippy.ViewModels.SignUpViewModel

@{ 
    ViewBag.Title = "Home Page";
}


<div class="row">

    <div id="landing-page">
        <div class="col-md-6">
            <h2>Plan your trips with ease!</h2><br />
            <form asp-controller="Account" asp-action="SignUp" method="post" novalidate>

                <span asp-validation-summary="ValidationSummary.ModelOnly"></span>

                <div class="form-group">
                    <label asp-for="SignupUsername">Username</label>
                    <input asp-for="SignupUsername" class="form-control" placeholder="Enter Username" />
                    <span asp-validation-for="SignupUsername" class="text-warning"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SignupEmail">Email</label>
                    <input asp-for="SignupEmail" class="form-control" placeholder="Enter Email Address" />
                    <span asp-validation-for="SignupEmail" class="text-warning"></span>
                </div>


                <div class="form-group">
                    <label asp-for="SignupPassword">Password</label>
                    <input type="password" asp-for="SignupPassword" class="form-control" placeholder="Enter Password" />
                    <span asp-validation-for="SignupPassword" class="text-warning"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create an Account" class="btn btn-success" />
                </div>

            </form>
           
        </div>

        <div class="col-md-6">
            <img src="~/img/img.jpg" id="image"/>
        </div>

    </div>
</div>
