@model IEnumerable<trippy.Models.Trip>

@{ 
    ViewBag.Title = "Trips Page";
}


<div class="row">
    <div class="col-md-5">
        <h2>Trippy</h2>
        <form>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control"/>
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control"/>
            </div>
            <div>
                <input type="submit" value="Add" class="btn btn-success"/>
            </div>
        </form>
    </div>
    <div class="col-md-7">
        <h2>The Map</h2>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Name</li>

            }
        </ul>
    </div>
</div>
