body {
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 0;
}

label {
    font-weight: bold;
    display: block;
}

input[type=text], input[type=password] textarea{
    width: 150px;
}

#container {
    margin: 0 0 0 250px;
}

#sidebar {
    position: fixed;
    height: 100%;
    background: #2c3e50;
    color: #eee;
    width: 250px;
    overflow: hidden;
    left: 0;
    
}

#main {
    margin: 0;
    padding: 4px;
    background-color: #e9e9e9;
}

.headshot{
    max-width: 50px;
    border: 1px solid #222;
    padding: 3px;
}

.menu {
    list-style: none;
    font-size: 12px;
}

.menu li.active{
    font-weight: bold;
}

.menu li a{
    color: #eee;
}


#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: #eee;
    padding: 8px 5px;
}